@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" />
<!-- Featured Blogs Slider -->
<!-- CHANGE TO FEATURED BLOGS -->
<section class="container py-4">
    <partial name="FeaturedBlogs" model="Model.Blogs" />
</section>

<!-- Category Filters -->
<section class="container py-3">
    <partial name="CategoryFilter" model="Model.CategoryList"/>
</section>

<section class="container py-3">
    <partial name="BlogList" model="Model.Blogs" />
</section>
<!-- Best Writers -->
<section class="container py-5 my-5 bg-light-amber rounded-4">
    <partial name="BestWriters" model="Model.BestWriters" />

</section>